<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net4" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net4" />
  <package id="Quartz" version="2.3.3" targetFramework="net4" />
  <package id="SimpleInjector" version="3.1.2" targetFramework="net4" />
  <package id="Topshelf" version="3.3.1" targetFramework="net4" />
  <package id="Topshelf.SimpleInjector" version="0.1.4.0" targetFramework="net40" />
</packages>